<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/shanm/IdeaProjects/Selenium">
        <classes>
            <class name="com.LinkedIn.qa.Test.LoginPageTest">
                <methods><include name="Logo"/><include name="Loginverification"/></methods>
            </class>
            <class name="com.LinkedIn.qa.Test.SignInTest">
                <methods><include name="ClickonSignIn"/></methods></class>
        </classes></test></suite>